.logo-title-container {
    display: grid;
    grid-template-columns: 1fr fit-content(70px);
    align-items: center;
    h2{
        text-align: center;
    }
}

.mercadopago {
    width: 100%; /* Set the width to 100% and remove the height */
    max-width: 100%; /* Ensure it doesn't stretch beyond its container */
    height: auto; /* Keep aspect ratio */
}